/* Here is where we will add stylization to the html file. 
This way we can link all of the html files to this document so that they will be similar in format. */
@font-face {
	font-family: 'Montserrat Subrayada';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('MontserratSubrayada-Bold'), url(https://fonts.gstatic.com/s/montserratsubrayada/v9/U9MM6c-o9H7PgjlTHThBnNHGVUORwteQQHe3TfMRiXk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	background-color: #00C8E6;
}

a {
	text-decoration: none;
	color: inheret;
}

a :hover {
	cursor: default;
}

.header-box {
	width: fit;
	height: 100px;
	position: fixed;
	z-index: 3;
}

header h1 {
	font-family: Montserrat Subrayada;
	font-color: #0075F2;
	background-color: #406EA7;
	position: fixed;
	z-index: 5;
	border-radius: 20px;
}

header h1 :hover {
	font-family: Montserrat Subrayada;
	font-color: #FFEAEE;
	background-color: #7F675B;
	position: fixed;
	z-index: 5;
	border-radius: 20px;
}
